@model API.Models.ResetPasswordViewModel

<page-login class="ion-page show-page" style="z-index: 92;">
    <ion-content class="content content-ios" style="">
        <div class="fixed-content"></div><div class="scroll-content">
            <div id="login-page">
                <div class="col-left">
                    <div class="header">
                        <h1>ĐỔI MẬT KHẨU</h1>
                    </div>
                    <div class="form">
                        @if (ViewBag.errorMessage == "invalid reset link" || ViewBag.errorMessage == "Invalid token.")
    {
                    <p>
                        <a title="@ViewBag.errorMessage"> Thông báo </a>
                        <br>
                        Link tạo lại mật khẩu của bạn không hợp lệ,<br />
                        có thể do link đã hết hạn sử dụng. <br />
                        Vui lòng kiểm tra lại email hoặc sử dụng lại chức năng quên mật khẩu để làm lại.
                    </p>

                    <div padding="" style="padding-top:0">
                        <a href="/#/forgot-password" block="" color="warning" ion-button="" class="button button-ios button-default button-default-ios button-block button-block-ios button-ios-warning"><span class="button-inner">Quên mật khẩu</span><div class="button-effect"></div></a>
                        <a href="/" clear="" float-right="" ion-button="" small="" ng-reflect-small="" ng-reflect-clear="" class="button button-ios button-clear button-clear-ios button-small button-small-ios">
                            <span class="button-inner">
                                Về trang chủ
                            </span><div class="button-effect"></div>
                        </a>
                    </div>
}
else if (ViewBag.errorMessage == "succeeded")
{
                    <p>
                        <a> Thông báo </a>
                        <br>
                        Đã đổi mật khẩu thành công. <br />
                        Vui lòng đăng nhập để sử dụng hệ thống.
                    </p>

                    <div padding="" style="padding-top:0">
                        <a href="/#/login" block="" color="warning" ion-button="" class="button button-ios button-default button-default-ios button-block button-block-ios button-ios-warning"><span class="button-inner">Đăng nhập</span><div class="button-effect"></div></a>
                        <a href="/" clear="" float-right="" ion-button="" small="" ng-reflect-small="" ng-reflect-clear="" class="button button-ios button-clear button-clear-ios button-small button-small-ios">
                            <span class="button-inner">
                                Về trang chủ
                            </span><div class="button-effect"></div>
                        </a>
                    </div>

}
else
{
                    <p>
                        <a> Đổi mật khẩu </a>
                        <br>
                        Xin chào bạn, mời bạn tạo mật khẩu mới.
                    </p>
using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "ng-untouched ng-pristine ng-valid", role = "form", @Id = "form" }))
{
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.userId)
                    @Html.HiddenFor(model => model.token)

                    <div class="c-control">
                        <label class="c-label" for="">
                            Mặt khẩu mới
                        </label>
                        @Html.PasswordFor(m => m.Password, new { @class = "c-input ng-pristine ng-valid ng-touched" })
                    </div>
                    <div class="c-control">
                        <label class="c-label" for="">
                            Nhập lại mật khẩu
                        </label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "c-input ng-pristine ng-valid ng-touched" })
                    </div>

                    
                    <input type="submit" style="display:none;" class="btn btn-default" value="Reset" />
}

                    <div padding="" style="padding-top:20px">
                        <button type="submit" form="form" value="Submit" block="" color="warning" ion-button="" class="button button-ios button-default button-default-ios button-block button-block-ios button-ios-warning"><span class="button-inner">Đổi mật khẩu</span><div class="button-effect"></div></button>
                        <a href="/" clear="" float-right="" ion-button="" small="" ng-reflect-small="" ng-reflect-clear="" class="button button-ios button-clear button-clear-ios button-small button-small-ios">
                            <span class="button-inner">
                                Về trang chủ
                            </span><div class="button-effect"></div>
                        </a>
                        
                        
                    </div>

}


                    </div>
                    <div class="footer">

                    </div>
                </div>
                <div class="col-right">
                    <div class="logos">
                        <img src="/assets/imgs/BVMD.png">
                        <img src="/assets/imgs/IVFMD.png">
                    </div>

                    <h1></h1>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </ion-content>
</page-login>